{% extends "base.html" %}
{% block content %}
<div class="container">
    <section>
    	<div class="row">
        	<div class="col-md-6">
        		<ol class="breadcrumb">
        			<li><a href="/">Home</a></li>
        			<li class="active">Dashboard</li>
        		</ol>
        	</div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12">
                <a href="/dashboard/edit_profile/{{ user.id }}"><button class="btn btn-info"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar Perfil</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 profile debug" >
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="{{ user.profile.profile_image.url }}" alt="profile" width="64px" height="64px">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading profileheading">{{ user.get_full_name }}<br> {{ user.profile.professional_name }}</h4>
                  </div>
                  <ul class="list-group">
                      <li class="list-group-item"><i class="fa fa-user profileicon" aria-hidden="true"></i>&nbsp;{{ user }}</li>
                      <li class="list-group-item"><i class="fa fa-envelope profileicon" aria-hidden="true"></i>&nbsp;<a href="mailto:{{ user.email }}">{{ user.email }}</a></li>
                      <li class="list-group-item"><i class="fa fa-file-pdf-o profileicon" aria-hidden="true"></i><a href="{{ user.profile.resume.url }}">&nbsp;Curriculum</a></li>
                      <li class="list-group-item"><i class="fa fa-mobile profileicon" aria-hidden="true"></i>&nbsp;{{ user.profile.contact | safe}}</li>
                  </ul>
                </div>
            </div>
            <div class="col-md-6 profile debug">
                <h3>Habilidades</h3>
                <p>{{ user.profile.summary | safe }}</p>
            </div>
        </div>
	</section>
</div>
{% endblock %}
