{% extends "base.html" %}
{% block content %}
<div class="container">
    <section>
    	<div class="row">
        	<div class="col-md-6">
        		<ol class="breadcrumb">
        			<li><a href="/">Home</a></li>
        			<li class="active">Dashboard</li>
        		</ol>
        	</div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12">
                <a href="/dashboard/edit_profile/{{ user.id }}"><button class="btn btn-info"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar Perfil</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="profile_aside">
                    <div class="person_image">
                        <img class="image-profile" src="{{ user.profile.profile_image.url }}" alt="profile">
                    </div>
                     <h4 class="person_name">{{ user.get_full_name }}</h4>
                     <p class="person_job">{{ user.profile.professional_name }}</p>
                     <div class="person_contact">
                        <button class="contact_button"><a href="mailto:{{ user.email }}"><i class="fa fa-envelope"></i></a></button>
                      </div>
                </div>
            </div>
            <div class="col-md-8">
                <article class="debug">
                    Esto va en el lado derecho
                </article>
            </div>
        </div>
	</section>
</div>
{% endblock %}
