{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		{% for empleo in jobs %}
		<div class="col-md-3">
			<div class="box">
				<div class="media">
					<div class="media-left">
						<img class="media-object" src="{{ empleo.company.companyImage.url }}" 
						width="64px" height="64px"/>
					</div>
					<div class="media-body">
						<h4 class="media-heading box-header"><a href="/job/{{ empleo.slug }}">
							<strong>{{ empleo.title }}</strong></a></h4>
						<p class="box-company"><strong>{{ empleo.company }}</strong></p>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}