{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
 <header id="home">
          <section class="hero" id="hero">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center inner">
                  <img class="animated fadeInDown responsive" src="{% static "img/656jobs.png" %}" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <a href="/jobs/" class="learn-more-btn">Ver empleos</a>
                </div>
              </div>
            </div>
          </section>
        </header>
         <section class="intro text-center section-padding" id="intro">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h1 class="arrow">Encuentra al mejor talento</h1>
                <img src="{% static 'img/candidates.png' %}" />
              </div>
            </div>
          </div>
        </section>
        <section class="subscribe text-center">
          <div class="container">
            <h1><i class="fa fa-paper-plane"></i><span>Subscribete para recibir ofertas de nuevos empleos</span></h1>
            <form action="#">
              <input type="text" name="" value="" placeholder="" required>
              <input type="submit" name="" value="Send">
            </form>
          </div>
        </section>
                <section class="team text-center section-padding" id="team">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">Nuestros Precios</h1>
              </div>
            </div>
            <div class="row">
              <div class="team-wrapper">
                <div id="teamSlider">
                  <ul class="slides">
                    <li>
                      <div class="col-md-4">
                        <ul>
                            <li><h2>Trial</h2></li>
                            <li><p>Prueba nuestros servicios</p></li>
                        </ul>
                        <div class="social">
                          <ul>
                            <li class="price">Gratis</li>
                            <li class="description">1 Anuncio de Empleo</li>
                            <li class="description">5 dias</li>
                            <li><button class="btn btn-info">Anunciate</button></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <ul>
                            <li><h2>Basico</h2></li>
                            <li><p>Prueba nuestros servicios</p></li>
                        </ul>
                        <div class="social">
                          <ul>
                            <li class="price">$ 600.00 </li>
                            <li class="description">5 Anuncios de Empleo</li>
                            <li class="description">45 dias</li>
                            <li><button class="btn btn-info">Anunciate</button></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <ul>
                            <li><h2>Premium</h2></li>
                            <li><p>Prueba nuestros servicios</p></li>
                        </ul>
                        <div class="social">
                          <ul>
                            <li class="price">$ 1000.00</li>
                            <li class="description">10 Anuncios de Empleo</li>
                            <li class="description">60 dias</li>
                            <li><button class="btn btn-info">Anunciate</button></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="dark-bg text-center section-padding contact-wrap" id="contact">
          <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">Contacto</h1>
              </div>
            </div>
            <div class="row contact-details">
              <div class="col-md-6">
                <div class="light-box box-hover">
                  <h2><i class="fa fa-mobile"></i><span>Telefono</span></h2>
                  <p>(656) 285-8381</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="light-box box-hover">
                  <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
                  <p><a href="#">servicio@656jobs.com</a></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul class="social-buttons">
                  <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <ul class="legals">
                  <li><a href="#">Terminos y Condiciones</a></li>
                  <li><a href="#">Legal</a></li>
                </ul>
              </div>
              <div class="col-md-6 credit">
                <p>Designed &amp; Developed by <a href="http://dev-haven.com/">DevHaven</a></p>
              </div>
            </div>
          </div>
        </footer>
{% endblock %}