{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div id="wrapper">
          <div id="loginWindow">
            <div class="page-header">
              <p class="left"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></p>
               {% if error %}
               <div class="alert alert-danger fade in">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>{{ error }}</strong>
                </div>
               {% endif %}
              {% load staticfiles %}
              <img src="{% static "img/656jobs.png" %}" />
            </div>
            <form method="POST">
              {% csrf_token %}
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Usuario</span>
                 {{ form.username }}
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">Password</span>
                {{ form.password }}
              </div>
              <button id="form_button" class="btn btn-primary" type="submit">Entrar</button>
               <p class="member">No eres miembro? <a href="/register">Registrate</a> <span class="fontawesome-arrow-right"></span></p>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
  
<script>
$( document ).ready( function(){
  $( '#loginWindow' ).animate({ 'width': '100%' }, 500)
    .delay(30)
    .animate({ 'height': '300px' }, 500);
  $( '.page-header, .input-group, .btn, p' )
    .delay(1000)
    .animate({ 'opacity': '100' }, 7000);
  $(".alert").fadeOut(8000);
});
</script>
{% endblock %}